body {
    padding: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=submit] {
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12pt;
    margin-top: 10px;
    max-width: 325px;
    cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: white;
    }
    a {
        color: white !important;
    }
}